/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.faqans{
    font-size: large;
    margin-left: 30px;
}

#aboutus{
    display: flex;
    clear: both;
}

.aboutpara{
    justify-content: center;
    text-align: left;
    margin:220px;
}

.aboutend{
    text-align: center;
}

.aboutul{
    margin-left: 520px;
}

.faqspara{
    padding:100px;
    margin-top: 200px;
    margin-left: 200px;
    justify-content: center;
    width:800px;
    font-size: large;
    float: left;
}

label{
    margin-right: 90px;
}

.findnow button[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: #043ed0;
    color: #fff;
    font-size: 18px;
    border-radius:10px;
}
.findnow button[type="submit"]:hover
{
    cursor: pointer;
    background: #d85bec;
    color: #000;
}

select{
    width:300px ;
    height: 30px;
    font-size: 17px;
}

input{
    margin-left:30px ;
    margin-right: 10px;
}

.location{
    flex-direction: row;
    padding:3px 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.allinfo > *{
    margin:auto;
    padding: 10px;
    float: left;
    clear: both;
    text-align: center;
    font-size: 25px;
}

.firstline{
    padding: 14px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 60px;
    font-family:cursive;
    color:rgb(102, 5, 76)
}

.howdoesitworkline{
    display: flex;
    position: relative;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 40px;
    font-family:cursive;
    color:rgb(102, 5, 76)
}

.formcontent{
    padding: 14px;
    margin: auto; 
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
}


#faqs > *{
    float: left;
    clear: both;
    font-size:large;
    position: relative;
    z-index: -5;
}


#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 700px;
    justify-content: center;
    align-items: center;
    
}

 #home::before{ 
    content: "";
    position: absolute;
    background: url('bgcarimg.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    margin-top: 35px;
    width: 100%;
    height: 700px;
    z-index: -1;
    opacity:0.1;
}


/*
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
} */
/* Services Section */
/* #services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
} 